
*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    font-family: 'Golos Text', sans-serif;
}
body{
    background-color:#f9f5ed;
}

/* header  */
nav{
    display: flex;
    height: 15vh;
    padding: 20px 10%   ;
    align-items: center;
}
ul{
    display: flex;
    gap: 30px;
    margin-left: 35px;
    font-weight: 600;
    cursor:pointer ;
}

/* hero-section  */
.hero-section{
    display: flex;
    align-items:center;
    justify-content:space-around;
}
.hero-section-left{
    width: 50%;
    padding-left: 10%;
} 
 .hero-section-left h1{
    font-size: 60px;
}
.hero-section-left button{
    padding: 15px 20px;
    font-size: 18px;
    color:#ffffff ;
    font-weight: 600;
    border: none;
    background-color: #3b855b;
    border-radius: 10px;
}
.hero-section-left button:hover{
    color: #3b855b;
    background-color: white;
}
.hero-section-right{
    padding: 7%;
    width: 50%;
}
.hero-section-right div img{
    width: 30%;
}
.hero-section-right div img:first-child{
    margin-right: 20px;
}
.hero-section-right div {
    margin-bottom: 20px;
}
 /* > means wihout parent tag  */
.hero-section-right > img{
    width: 64%;
}































